@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,500&display=swap')

$dark-schema: #242424
$grey: #B1B1B1
$red: #DA2525
@mixin _1440
  @media (max-width: 1440px)
    @content

@mixin _1280
  @media (max-width: 1280px)
    @content

@mixin _1170
  @media (max-width: 1170px)
    @content

@mixin _480
  @media (max-width: 480px)
    @content

@mixin _979
  @media (max-width: 979px)
    @content


@mixin _768
  @media (max-width: 768px)
    @content


@mixin _600
  @media (max-width: 600px)
    @content

@mixin _375
  @media (max-width: 375px)
    @content

@mixin _350
  @media (max-width: 350px)
    @content

@mixin _320
  @media (max-width: 320px)
    @content

body, html
    overflow-x: hidden
    max-width: 100vw
    min-width: 1440px
    padding: 0
    margin: 0
    font-family: Montserrat
    &.freeze
        overflow: hidden
section
    margin-left: 250px
    padding: 20px

aside
    position: fixed
    display: grid
    align-content: start
    left: 0
    height: 100vh
    width: 250px
    background: $dark-schema
    img.logo
        max-width: 150px
        margin: 20px
    nav
        margin: 20px 20px
        display: grid
        grid-gap: 20px
        font-size: 14px
        color: $grey
    a.link
        color: #fcfcfc
        text-decoration: none
        transition: .5s
        &:hover
            color: $red

#projects
    .filters
        width: 100%
        padding: 10px 0
        label
            padding: 5px
            margin-left: 10px
        input[type="search"]
            width: 320px
            padding: 5px
            font-size: 13px
        select
            padding: 5px
            margin-left: 10px
        .add
            color: $dark-schema
            margin-left: 10px
            float: right
.projects-list
    display: grid
    grid-template-columns: repeat(5, 1fr)
    grid-gap: 20px
    padding: 0
    margin: 0
    margin-top: 10px
    @include _1440
        grid-template-columns: repeat(4,1fr )
    li
        padding: 0 16px
        border-radius: 8px
        list-style: none
        border: 1px solid #e0e0e0
        display: grid
        .category
            padding: 5px
            background: $dark-schema
            border-radius: 5px
            color: #fcfcfc
            justify-self: start
        h3
            font-size: 14px
        .img_wrap
            width: 100%
            margin-top: 15px
            height: 250px
            
            img
                width: 100%
                height: 100%
                object-fit: cover
                object-position: 0 1
      
        p
            color: $dark-schema
            font-size: 14px
        a

            color: $dark-schema
            margin-bottom: 16px
        .display
            width: 10px
            height: 10px
            margin: 5px
            border-radius: 50%
            background: $grey
            float: right
            cursor: pointer
            &.true
                background: #000
            &.false
                background: $grey
            
#project
    padding: 0
    h1
        margin:  20px
    article
        padding: 20px
        display: grid
        grid-template-columns: repeat(3,1fr)
        grid-gap: 20px
        align-items: start
        &.category, &.price
            justify-items: start
            justify-content: start
        input ,textarea
            padding: 5px
        &.preview
            picture
                grid-column: 2/4
                max-width: 100%
                display: grid
                align-items: center
                input#preview
                    padding: 0
                    margin: 10px 0
                #previewOutput
                    transition: .5s
                    min-height: 1px
                    max-height: 450px
        &.price 
        &.areas
            grid-template-columns: 1fr
            .areas-grid
                display: flex
                flex-wrap: wrap
                .area
                    cursor: move
                    overflow: hidden
                    display: inline-grid
                    align-items: center
                    justify-items: center
                    align-content: center
                    padding: 32px 16px 
                    min-width: 150px
                    max-width: 200px
                    background: #333
                    color: $grey
                    border-radius: 8px
                    margin-right: 8px
                    margin-bottom: 8px
                    grid-gap: 8px
                    border: 3px dotted $dark-schema
                    &.over
                        border: 3px dotted $red
                    p
                        margin: 0
                        color: red
                        text-align: center
                        font-size: 14px
                    a
                        color: #fcfcfc
                        font-size: 10px
                    &.add
                        text-decoration: none
                        color: #ffffff
                        font-weight: 300
                        -webkit-user-drag: none
                        user-drag: none
                        font-size: 32px
                        cursor: pointer
                        
                        
        &.seo
            grid-template-columns: 1fr 

      
        &:nth-child(even)
            background: #f8f8f8
            
#requests
    overflow: hidden
    .tabs
        .tab
            cursor: pointer
            display: inline-block
            padding: 8px 16px
            border-top-left-radius: 8px
            border-top-right-radius: 8px
            transition: .3s
            border-top: 1px solid #fff
            border-left: 1px solid #fff
            border-right: 1px solid #fff
            background: #e0e0e0
            &.active
                background: #fff
                border-top: 1px solid #e0e0e0
                border-left: 1px solid #e0e0e0
                border-right: 1px solid #e0e0e0

    .header
        display: grid
        grid-template-columns:  1fr 1fr 1fr 1fr  1fr
        padding: 16px
        border-left: 1px solid #e0e0e0
        border-right: 1px solid #e0e0e0
        border-top-right-radius: 8px
        background: #f8f8f8
    .request
        
        display: grid
        grid-template-columns:  1fr 1fr 1fr 1fr  1fr
        padding:  16px
        border-left: 1px solid #e0e0e0
        border-right: 1px solid #e0e0e0
        transition: .3s
        cursor: pointer
        overflow: hidden
        span
            font-size: 12px
        &:nth-child(even)
            background: #f8f8f8
        &:hover
            background:  darken(#f8f8f8, 5)
        &:last-child
            border-bottom: 1px solid #e0e0e0
            border-bottom-left-radius: 8px
            border-bottom-right-radius: 8px
        &[data-status='false']
            display: none
.modal
    width: 1024px
    height: 100vh
    background: #fff
    display: grid
    align-content: start
    grid-gap: 16px
    position: fixed
    padding: 16px 0
    box-sizing: border-box
    right: -1024px
    top: 0
    transition: .7s
    z-index: 100
    &.active
        right: 0
    h2
        margin: 8px 32px
    article
        display: grid
        padding: 16px 32px
        grid-gap: 32px
        grid-template-columns: 1fr 1fr 1fr
        &:nth-child(odd)
            background: #f8f8f8
        input
            padding: 5px
    .btn
        position: absolute
        bottom: 16px
        right: 32px 
        padding:  16px 32px
        background: $dark-schema
        color: #fcfcfc
        border-radius: 32px
        text-decoration: none
        font-size: 14px
        transition: .3s
        &:hover
            background: lighten($dark-schema, 20)
            
#overlay
    position: fixed
    top: 0
    left: 0 
    background: #000
    opacity: 0
    transition: .3s
    height: 100vh
    width: 100vw
    z-index: 90
    cursor: pointer
    pointer-events: none
    &.active
        pointer-events: all
        opacity: .4